<% if @contents.present? then %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
  <div id="base-information-area">
    <h2>企画別来場者集計レポート</h2>
    <% organization = Organization.find_by_ucode(@contents["organizer"]) %>
    <p>団体名：<%= organization.organization_name %></p>
    <p>企画名：<%= @contents["title"] %></p>
    <% place = Room.where("ucode @> ARRAY[?]::varchar[]",[@contents["place"]]).first %>
    <p>企画実施場所：<%= place.room_num %></p>
    <p>累計来場者数（2日間）：<%= @contents["visitors"].count %>組/<%= @contents["visitors"].sum{|hash| hash["user"]["visitor_attribute"]["number_of_people"].to_i} %>人</p>
  </div>
  <hr>
  <div id="timeline-graph">
    <canvas id="timeline-chart"></canvas>
    <% timeline_str = [] %>
    <% @visitor_by_hours.each do|visitor_by_hour| %>
      <% timeline_str.append("#{visitor_by_hour["key"]} → #{visitor_by_hour["value"]}人") %>
    <% end %>
    <p><%= timeline_str.join(" / ") %></p>
    <small>データは表記の時刻より前2時間に訪れた人数を表示</small>
    <hr>
    <script>
        var timelineCanvas = document.getElementById("timeline-chart");
        var timelineChart = new Chart(timelineCanvas,{
            type: "line",
            data:{
                labels: <%= raw @visitor_by_hours.map{|h| h["key"]} %>,
                datasets: [{
                    data: <%= raw @visitor_by_hours.map{|h| h["value"]} %>,
                    borderColor: ["rgba(255,0,0,1)"],
                    backgroundColor: ["rgba(0,0,0,0)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '時間帯別来場者数（単位：人）'
                }
            }
        });
    </script>
  </div>
  <div id="attribute-graph">
    <canvas id="attribute-old-chart"></canvas>
    <script>
        var attributeOldCanvas = document.getElementById("attribute-old-chart");
        var attributeOldChart = new Chart(attributeOldCanvas, {
            type: "pie",
            data:{
                labels: <%= raw @age_percentage.map{|h| h["key"]} %>,
                datasets: [{
                    data:<%= raw @age_percentage.map{|h| h["value"]} %>,
                    borderColor: ["rgba(215,0,58,1)","rgba(240,131,0,1)","rgba(248,181,0,1)","rgba(175,209,71,1)","rgba(0,124,69,1)","rgba(0,164,150,1)","rgba(35,157,218,1)"],
                    backgroundColor: ["rgba(215,0,58,0.5)","rgba(240,131,0,0.5)","rgba(248,181,0,0.5)","rgba(175,209,71,0.5)","rgba(0,124,69,0.5)","rgba(0,164,150,0.5)","rgba(35,157,218,0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '年代比率（単位：%）'
                }
            }
        });
    </script>
    <% age_str = [] %>
    <% @age_percentage.each do|age_percentage_data| %>
      <% age_str.append("#{age_percentage_data["key"]} → #{age_percentage_data["value"].round(2)}%") %>
    <% end %>
    <p><%= age_str.join(" / ") %></p>
    <small>代表者の年代の割合を表示（家族連れなど、全員が該当しない場合があります）</small>
    <hr>
    <canvas id="attribute-gender-chart"></canvas>
    <script>
        var attributeGenderCanvas = document.getElementById("attribute-gender-chart");
        var attributeGenderChart = new Chart(attributeGenderCanvas, {
            type: "pie",
            data:{
                labels: ["男性","女性","その他/無回答"],
                datasets: [{
                    data:<%= @gender_percentage %>,
                    borderColor: ["rgba(0,149,217,1)","rgba(230,0,47,1)"],
                    backgroundColor: ["rgba(0,149,217,0.5)","rgba(230,0,47,0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '性別比率（単位：%）'
                }
            }
        });
    </script>
    <p><%= "男性→#{@gender_percentage[0].round(2)}% / 女性→#{@gender_percentage[1].round(2)}% / その他・無回答→#{@gender_percentage[2].round(2)}%" %></p>
    <small>代表者の性別の割合を表示（家族連れなど、全員が該当しない場合があります）</small>
    <hr>
    <h4>データに関する注意事項</h4>
    <ul>
      <li>データは項目別に集計しており、それぞれに関連性はありません</li>
      <li>2回目以降の来訪は除外しています</li>
      <li>QRコードの読み取りができなかった来場者については反映されないため、実際の状況と異なる場合があります</li>
      <li>グラフの下に表示している数字は、人数以外について、小数第二位で四捨五入しています</li>
    </ul>
  </div>
<% end %>